@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_nav{
    width: 70px;
    border-radius: 100%;
    margin: 40px;
}
.nav_bar{
    height: 100px;
    width: 100%;
    background-color: #0D154C;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    background-image: url("images/main_image.jpg");
    opacity: 5;
    height: 2300px;
}

.infos{
    margin: 30px;
}

.infoN{
    background-color: #0D154C;
    border: none;
    text-decoration: none;
}

.infoN a{
    color: beige;
    background-color: #0D154C;
    border: none;
    padding: 20px;
}

a{
    text-decoration: none;
}

#Footer {
    background-image: url("images/footer_image.jpg");
    height: 100px;
    width: 100%;
}
